.flex {
  display: flex;
  flex-wrap: wrap; }

.flex-ai-fs {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: flex-start; }

.p-0 {
  padding: 0px;
  box-sizing: border-box; }

.ph-0 {
  padding-top: 0px;
  padding-bottom: 0px;
  box-sizing: border-box; }

.pw-0 {
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box; }

.pl-0 {
  padding-left: 0px;
  box-sizing: border-box; }

.pr-0 {
  padding-right: 0px;
  box-sizing: border-box; }

.pt-0 {
  padding-top: 0px;
  box-sizing: border-box; }

.pb-0 {
  padding-bottom: 0px;
  box-sizing: border-box; }

.p-1 {
  padding: 5px;
  box-sizing: border-box; }

.ph-1 {
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box; }

.pw-1 {
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; }

.pl-1 {
  padding-left: 5px;
  box-sizing: border-box; }

.pr-1 {
  padding-right: 5px;
  box-sizing: border-box; }

.pt-1 {
  padding-top: 5px;
  box-sizing: border-box; }

.pb-1 {
  padding-bottom: 5px;
  box-sizing: border-box; }

.p-2 {
  padding: 10px;
  box-sizing: border-box; }

.ph-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box; }

.pw-2 {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; }

.pl-2 {
  padding-left: 10px;
  box-sizing: border-box; }

.pr-2 {
  padding-right: 10px;
  box-sizing: border-box; }

.pt-2 {
  padding-top: 10px;
  box-sizing: border-box; }

.pb-2 {
  padding-bottom: 10px;
  box-sizing: border-box; }

.p-3 {
  padding: 15px;
  box-sizing: border-box; }

.ph-3 {
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box; }

.pw-3 {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.pl-3 {
  padding-left: 15px;
  box-sizing: border-box; }

.pr-3 {
  padding-right: 15px;
  box-sizing: border-box; }

.pt-3 {
  padding-top: 15px;
  box-sizing: border-box; }

.pb-3 {
  padding-bottom: 15px;
  box-sizing: border-box; }

.p-4 {
  padding: 20px;
  box-sizing: border-box; }

.ph-4 {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.pw-4 {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box; }

.pl-4 {
  padding-left: 20px;
  box-sizing: border-box; }

.pr-4 {
  padding-right: 20px;
  box-sizing: border-box; }

.pt-4 {
  padding-top: 20px;
  box-sizing: border-box; }

.pb-4 {
  padding-bottom: 20px;
  box-sizing: border-box; }

.p-5 {
  padding: 25px;
  box-sizing: border-box; }

.ph-5 {
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box; }

.pw-5 {
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box; }

.pl-5 {
  padding-left: 25px;
  box-sizing: border-box; }

.pr-5 {
  padding-right: 25px;
  box-sizing: border-box; }

.pt-5 {
  padding-top: 25px;
  box-sizing: border-box; }

.pb-5 {
  padding-bottom: 25px;
  box-sizing: border-box; }

.p-6 {
  padding: 30px;
  box-sizing: border-box; }

.ph-6 {
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box; }

.pw-6 {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box; }

.pl-6 {
  padding-left: 30px;
  box-sizing: border-box; }

.pr-6 {
  padding-right: 30px;
  box-sizing: border-box; }

.pt-6 {
  padding-top: 30px;
  box-sizing: border-box; }

.pb-6 {
  padding-bottom: 30px;
  box-sizing: border-box; }

.p-7 {
  padding: 35px;
  box-sizing: border-box; }

.ph-7 {
  padding-top: 35px;
  padding-bottom: 35px;
  box-sizing: border-box; }

.pw-7 {
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box; }

.pl-7 {
  padding-left: 35px;
  box-sizing: border-box; }

.pr-7 {
  padding-right: 35px;
  box-sizing: border-box; }

.pt-7 {
  padding-top: 35px;
  box-sizing: border-box; }

.pb-7 {
  padding-bottom: 35px;
  box-sizing: border-box; }

.p-8 {
  padding: 40px;
  box-sizing: border-box; }

.ph-8 {
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box; }

.pw-8 {
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box; }

.pl-8 {
  padding-left: 40px;
  box-sizing: border-box; }

.pr-8 {
  padding-right: 40px;
  box-sizing: border-box; }

.pt-8 {
  padding-top: 40px;
  box-sizing: border-box; }

.pb-8 {
  padding-bottom: 40px;
  box-sizing: border-box; }

.p-9 {
  padding: 45px;
  box-sizing: border-box; }

.ph-9 {
  padding-top: 45px;
  padding-bottom: 45px;
  box-sizing: border-box; }

.pw-9 {
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box; }

.pl-9 {
  padding-left: 45px;
  box-sizing: border-box; }

.pr-9 {
  padding-right: 45px;
  box-sizing: border-box; }

.pt-9 {
  padding-top: 45px;
  box-sizing: border-box; }

.pb-9 {
  padding-bottom: 45px;
  box-sizing: border-box; }

.p-10 {
  padding: 50px;
  box-sizing: border-box; }

.ph-10 {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box; }

.pw-10 {
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box; }

.pl-10 {
  padding-left: 50px;
  box-sizing: border-box; }

.pr-10 {
  padding-right: 50px;
  box-sizing: border-box; }

.pt-10 {
  padding-top: 50px;
  box-sizing: border-box; }

.pb-10 {
  padding-bottom: 50px;
  box-sizing: border-box; }

.p-11 {
  padding: 55px;
  box-sizing: border-box; }

.ph-11 {
  padding-top: 55px;
  padding-bottom: 55px;
  box-sizing: border-box; }

.pw-11 {
  padding-left: 55px;
  padding-right: 55px;
  box-sizing: border-box; }

.pl-11 {
  padding-left: 55px;
  box-sizing: border-box; }

.pr-11 {
  padding-right: 55px;
  box-sizing: border-box; }

.pt-11 {
  padding-top: 55px;
  box-sizing: border-box; }

.pb-11 {
  padding-bottom: 55px;
  box-sizing: border-box; }

.p-12 {
  padding: 60px;
  box-sizing: border-box; }

.ph-12 {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box; }

.pw-12 {
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box; }

.pl-12 {
  padding-left: 60px;
  box-sizing: border-box; }

.pr-12 {
  padding-right: 60px;
  box-sizing: border-box; }

.pt-12 {
  padding-top: 60px;
  box-sizing: border-box; }

.pb-12 {
  padding-bottom: 60px;
  box-sizing: border-box; }

.p-13 {
  padding: 65px;
  box-sizing: border-box; }

.ph-13 {
  padding-top: 65px;
  padding-bottom: 65px;
  box-sizing: border-box; }

.pw-13 {
  padding-left: 65px;
  padding-right: 65px;
  box-sizing: border-box; }

.pl-13 {
  padding-left: 65px;
  box-sizing: border-box; }

.pr-13 {
  padding-right: 65px;
  box-sizing: border-box; }

.pt-13 {
  padding-top: 65px;
  box-sizing: border-box; }

.pb-13 {
  padding-bottom: 65px;
  box-sizing: border-box; }

.p-14 {
  padding: 70px;
  box-sizing: border-box; }

.ph-14 {
  padding-top: 70px;
  padding-bottom: 70px;
  box-sizing: border-box; }

.pw-14 {
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box; }

.pl-14 {
  padding-left: 70px;
  box-sizing: border-box; }

.pr-14 {
  padding-right: 70px;
  box-sizing: border-box; }

.pt-14 {
  padding-top: 70px;
  box-sizing: border-box; }

.pb-14 {
  padding-bottom: 70px;
  box-sizing: border-box; }

.p-15 {
  padding: 75px;
  box-sizing: border-box; }

.ph-15 {
  padding-top: 75px;
  padding-bottom: 75px;
  box-sizing: border-box; }

.pw-15 {
  padding-left: 75px;
  padding-right: 75px;
  box-sizing: border-box; }

.pl-15 {
  padding-left: 75px;
  box-sizing: border-box; }

.pr-15 {
  padding-right: 75px;
  box-sizing: border-box; }

.pt-15 {
  padding-top: 75px;
  box-sizing: border-box; }

.pb-15 {
  padding-bottom: 75px;
  box-sizing: border-box; }

.p-16 {
  padding: 80px;
  box-sizing: border-box; }

.ph-16 {
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box; }

.pw-16 {
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box; }

.pl-16 {
  padding-left: 80px;
  box-sizing: border-box; }

.pr-16 {
  padding-right: 80px;
  box-sizing: border-box; }

.pt-16 {
  padding-top: 80px;
  box-sizing: border-box; }

.pb-16 {
  padding-bottom: 80px;
  box-sizing: border-box; }

.p-17 {
  padding: 85px;
  box-sizing: border-box; }

.ph-17 {
  padding-top: 85px;
  padding-bottom: 85px;
  box-sizing: border-box; }

.pw-17 {
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box; }

.pl-17 {
  padding-left: 85px;
  box-sizing: border-box; }

.pr-17 {
  padding-right: 85px;
  box-sizing: border-box; }

.pt-17 {
  padding-top: 85px;
  box-sizing: border-box; }

.pb-17 {
  padding-bottom: 85px;
  box-sizing: border-box; }

.p-18 {
  padding: 90px;
  box-sizing: border-box; }

.ph-18 {
  padding-top: 90px;
  padding-bottom: 90px;
  box-sizing: border-box; }

.pw-18 {
  padding-left: 90px;
  padding-right: 90px;
  box-sizing: border-box; }

.pl-18 {
  padding-left: 90px;
  box-sizing: border-box; }

.pr-18 {
  padding-right: 90px;
  box-sizing: border-box; }

.pt-18 {
  padding-top: 90px;
  box-sizing: border-box; }

.pb-18 {
  padding-bottom: 90px;
  box-sizing: border-box; }

.p-19 {
  padding: 95px;
  box-sizing: border-box; }

.ph-19 {
  padding-top: 95px;
  padding-bottom: 95px;
  box-sizing: border-box; }

.pw-19 {
  padding-left: 95px;
  padding-right: 95px;
  box-sizing: border-box; }

.pl-19 {
  padding-left: 95px;
  box-sizing: border-box; }

.pr-19 {
  padding-right: 95px;
  box-sizing: border-box; }

.pt-19 {
  padding-top: 95px;
  box-sizing: border-box; }

.pb-19 {
  padding-bottom: 95px;
  box-sizing: border-box; }

.p-20 {
  padding: 100px;
  box-sizing: border-box; }

.ph-20 {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box; }

.pw-20 {
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box; }

.pl-20 {
  padding-left: 100px;
  box-sizing: border-box; }

.pr-20 {
  padding-right: 100px;
  box-sizing: border-box; }

.pt-20 {
  padding-top: 100px;
  box-sizing: border-box; }

.pb-20 {
  padding-bottom: 100px;
  box-sizing: border-box; }

.col-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-0 {
  flex-basis: 0%;
  max-width: 0%; }

@media (max-width: 1200px) {
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-0 {
    flex-basis: 0%;
    max-width: 0%; }
  .p-xl-0 {
    padding: 0px;
    box-sizing: border-box; }
  .ph-xl-0 {
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box; }
  .pw-xl-0 {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box; }
  .pl-xl-0 {
    padding-left: 0px;
    box-sizing: border-box; }
  .pr-xl-0 {
    padding-right: 0px;
    box-sizing: border-box; }
  .pt-xl-0 {
    padding-top: 0px;
    box-sizing: border-box; }
  .pb-xl-0 {
    padding-bottom: 0px;
    box-sizing: border-box; }
  .p-xl-1 {
    padding: 5px;
    box-sizing: border-box; }
  .ph-xl-1 {
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box; }
  .pw-xl-1 {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box; }
  .pl-xl-1 {
    padding-left: 5px;
    box-sizing: border-box; }
  .pr-xl-1 {
    padding-right: 5px;
    box-sizing: border-box; }
  .pt-xl-1 {
    padding-top: 5px;
    box-sizing: border-box; }
  .pb-xl-1 {
    padding-bottom: 5px;
    box-sizing: border-box; }
  .p-xl-2 {
    padding: 10px;
    box-sizing: border-box; }
  .ph-xl-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box; }
  .pw-xl-2 {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .pl-xl-2 {
    padding-left: 10px;
    box-sizing: border-box; }
  .pr-xl-2 {
    padding-right: 10px;
    box-sizing: border-box; }
  .pt-xl-2 {
    padding-top: 10px;
    box-sizing: border-box; }
  .pb-xl-2 {
    padding-bottom: 10px;
    box-sizing: border-box; }
  .p-xl-3 {
    padding: 15px;
    box-sizing: border-box; }
  .ph-xl-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box; }
  .pw-xl-3 {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .pl-xl-3 {
    padding-left: 15px;
    box-sizing: border-box; }
  .pr-xl-3 {
    padding-right: 15px;
    box-sizing: border-box; }
  .pt-xl-3 {
    padding-top: 15px;
    box-sizing: border-box; }
  .pb-xl-3 {
    padding-bottom: 15px;
    box-sizing: border-box; }
  .p-xl-4 {
    padding: 20px;
    box-sizing: border-box; }
  .ph-xl-4 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box; }
  .pw-xl-4 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
  .pl-xl-4 {
    padding-left: 20px;
    box-sizing: border-box; }
  .pr-xl-4 {
    padding-right: 20px;
    box-sizing: border-box; }
  .pt-xl-4 {
    padding-top: 20px;
    box-sizing: border-box; }
  .pb-xl-4 {
    padding-bottom: 20px;
    box-sizing: border-box; }
  .p-xl-5 {
    padding: 25px;
    box-sizing: border-box; }
  .ph-xl-5 {
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box; }
  .pw-xl-5 {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box; }
  .pl-xl-5 {
    padding-left: 25px;
    box-sizing: border-box; }
  .pr-xl-5 {
    padding-right: 25px;
    box-sizing: border-box; }
  .pt-xl-5 {
    padding-top: 25px;
    box-sizing: border-box; }
  .pb-xl-5 {
    padding-bottom: 25px;
    box-sizing: border-box; }
  .p-xl-6 {
    padding: 30px;
    box-sizing: border-box; }
  .ph-xl-6 {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box; }
  .pw-xl-6 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; }
  .pl-xl-6 {
    padding-left: 30px;
    box-sizing: border-box; }
  .pr-xl-6 {
    padding-right: 30px;
    box-sizing: border-box; }
  .pt-xl-6 {
    padding-top: 30px;
    box-sizing: border-box; }
  .pb-xl-6 {
    padding-bottom: 30px;
    box-sizing: border-box; }
  .p-xl-7 {
    padding: 35px;
    box-sizing: border-box; }
  .ph-xl-7 {
    padding-top: 35px;
    padding-bottom: 35px;
    box-sizing: border-box; }
  .pw-xl-7 {
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box; }
  .pl-xl-7 {
    padding-left: 35px;
    box-sizing: border-box; }
  .pr-xl-7 {
    padding-right: 35px;
    box-sizing: border-box; }
  .pt-xl-7 {
    padding-top: 35px;
    box-sizing: border-box; }
  .pb-xl-7 {
    padding-bottom: 35px;
    box-sizing: border-box; }
  .p-xl-8 {
    padding: 40px;
    box-sizing: border-box; }
  .ph-xl-8 {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box; }
  .pw-xl-8 {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .pl-xl-8 {
    padding-left: 40px;
    box-sizing: border-box; }
  .pr-xl-8 {
    padding-right: 40px;
    box-sizing: border-box; }
  .pt-xl-8 {
    padding-top: 40px;
    box-sizing: border-box; }
  .pb-xl-8 {
    padding-bottom: 40px;
    box-sizing: border-box; }
  .p-xl-9 {
    padding: 45px;
    box-sizing: border-box; }
  .ph-xl-9 {
    padding-top: 45px;
    padding-bottom: 45px;
    box-sizing: border-box; }
  .pw-xl-9 {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box; }
  .pl-xl-9 {
    padding-left: 45px;
    box-sizing: border-box; }
  .pr-xl-9 {
    padding-right: 45px;
    box-sizing: border-box; }
  .pt-xl-9 {
    padding-top: 45px;
    box-sizing: border-box; }
  .pb-xl-9 {
    padding-bottom: 45px;
    box-sizing: border-box; }
  .p-xl-10 {
    padding: 50px;
    box-sizing: border-box; }
  .ph-xl-10 {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box; }
  .pw-xl-10 {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box; }
  .pl-xl-10 {
    padding-left: 50px;
    box-sizing: border-box; }
  .pr-xl-10 {
    padding-right: 50px;
    box-sizing: border-box; }
  .pt-xl-10 {
    padding-top: 50px;
    box-sizing: border-box; }
  .pb-xl-10 {
    padding-bottom: 50px;
    box-sizing: border-box; }
  .p-xl-11 {
    padding: 55px;
    box-sizing: border-box; }
  .ph-xl-11 {
    padding-top: 55px;
    padding-bottom: 55px;
    box-sizing: border-box; }
  .pw-xl-11 {
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box; }
  .pl-xl-11 {
    padding-left: 55px;
    box-sizing: border-box; }
  .pr-xl-11 {
    padding-right: 55px;
    box-sizing: border-box; }
  .pt-xl-11 {
    padding-top: 55px;
    box-sizing: border-box; }
  .pb-xl-11 {
    padding-bottom: 55px;
    box-sizing: border-box; }
  .p-xl-12 {
    padding: 60px;
    box-sizing: border-box; }
  .ph-xl-12 {
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box; }
  .pw-xl-12 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box; }
  .pl-xl-12 {
    padding-left: 60px;
    box-sizing: border-box; }
  .pr-xl-12 {
    padding-right: 60px;
    box-sizing: border-box; }
  .pt-xl-12 {
    padding-top: 60px;
    box-sizing: border-box; }
  .pb-xl-12 {
    padding-bottom: 60px;
    box-sizing: border-box; }
  .p-xl-13 {
    padding: 65px;
    box-sizing: border-box; }
  .ph-xl-13 {
    padding-top: 65px;
    padding-bottom: 65px;
    box-sizing: border-box; }
  .pw-xl-13 {
    padding-left: 65px;
    padding-right: 65px;
    box-sizing: border-box; }
  .pl-xl-13 {
    padding-left: 65px;
    box-sizing: border-box; }
  .pr-xl-13 {
    padding-right: 65px;
    box-sizing: border-box; }
  .pt-xl-13 {
    padding-top: 65px;
    box-sizing: border-box; }
  .pb-xl-13 {
    padding-bottom: 65px;
    box-sizing: border-box; }
  .p-xl-14 {
    padding: 70px;
    box-sizing: border-box; }
  .ph-xl-14 {
    padding-top: 70px;
    padding-bottom: 70px;
    box-sizing: border-box; }
  .pw-xl-14 {
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box; }
  .pl-xl-14 {
    padding-left: 70px;
    box-sizing: border-box; }
  .pr-xl-14 {
    padding-right: 70px;
    box-sizing: border-box; }
  .pt-xl-14 {
    padding-top: 70px;
    box-sizing: border-box; }
  .pb-xl-14 {
    padding-bottom: 70px;
    box-sizing: border-box; }
  .p-xl-15 {
    padding: 75px;
    box-sizing: border-box; }
  .ph-xl-15 {
    padding-top: 75px;
    padding-bottom: 75px;
    box-sizing: border-box; }
  .pw-xl-15 {
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box; }
  .pl-xl-15 {
    padding-left: 75px;
    box-sizing: border-box; }
  .pr-xl-15 {
    padding-right: 75px;
    box-sizing: border-box; }
  .pt-xl-15 {
    padding-top: 75px;
    box-sizing: border-box; }
  .pb-xl-15 {
    padding-bottom: 75px;
    box-sizing: border-box; }
  .p-xl-16 {
    padding: 80px;
    box-sizing: border-box; }
  .ph-xl-16 {
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box; }
  .pw-xl-16 {
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box; }
  .pl-xl-16 {
    padding-left: 80px;
    box-sizing: border-box; }
  .pr-xl-16 {
    padding-right: 80px;
    box-sizing: border-box; }
  .pt-xl-16 {
    padding-top: 80px;
    box-sizing: border-box; }
  .pb-xl-16 {
    padding-bottom: 80px;
    box-sizing: border-box; }
  .p-xl-17 {
    padding: 85px;
    box-sizing: border-box; }
  .ph-xl-17 {
    padding-top: 85px;
    padding-bottom: 85px;
    box-sizing: border-box; }
  .pw-xl-17 {
    padding-left: 85px;
    padding-right: 85px;
    box-sizing: border-box; }
  .pl-xl-17 {
    padding-left: 85px;
    box-sizing: border-box; }
  .pr-xl-17 {
    padding-right: 85px;
    box-sizing: border-box; }
  .pt-xl-17 {
    padding-top: 85px;
    box-sizing: border-box; }
  .pb-xl-17 {
    padding-bottom: 85px;
    box-sizing: border-box; }
  .p-xl-18 {
    padding: 90px;
    box-sizing: border-box; }
  .ph-xl-18 {
    padding-top: 90px;
    padding-bottom: 90px;
    box-sizing: border-box; }
  .pw-xl-18 {
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box; }
  .pl-xl-18 {
    padding-left: 90px;
    box-sizing: border-box; }
  .pr-xl-18 {
    padding-right: 90px;
    box-sizing: border-box; }
  .pt-xl-18 {
    padding-top: 90px;
    box-sizing: border-box; }
  .pb-xl-18 {
    padding-bottom: 90px;
    box-sizing: border-box; }
  .p-xl-19 {
    padding: 95px;
    box-sizing: border-box; }
  .ph-xl-19 {
    padding-top: 95px;
    padding-bottom: 95px;
    box-sizing: border-box; }
  .pw-xl-19 {
    padding-left: 95px;
    padding-right: 95px;
    box-sizing: border-box; }
  .pl-xl-19 {
    padding-left: 95px;
    box-sizing: border-box; }
  .pr-xl-19 {
    padding-right: 95px;
    box-sizing: border-box; }
  .pt-xl-19 {
    padding-top: 95px;
    box-sizing: border-box; }
  .pb-xl-19 {
    padding-bottom: 95px;
    box-sizing: border-box; }
  .p-xl-20 {
    padding: 100px;
    box-sizing: border-box; }
  .ph-xl-20 {
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box; }
  .pw-xl-20 {
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box; }
  .pl-xl-20 {
    padding-left: 100px;
    box-sizing: border-box; }
  .pr-xl-20 {
    padding-right: 100px;
    box-sizing: border-box; }
  .pt-xl-20 {
    padding-top: 100px;
    box-sizing: border-box; }
  .pb-xl-20 {
    padding-bottom: 100px;
    box-sizing: border-box; } }

@media (max-width: 992px) {
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-0 {
    flex-basis: 0%;
    max-width: 0%; }
  .p-lg-0 {
    padding: 0px;
    box-sizing: border-box; }
  .ph-lg-0 {
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box; }
  .pw-lg-0 {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box; }
  .pl-lg-0 {
    padding-left: 0px;
    box-sizing: border-box; }
  .pr-lg-0 {
    padding-right: 0px;
    box-sizing: border-box; }
  .pt-lg-0 {
    padding-top: 0px;
    box-sizing: border-box; }
  .pb-lg-0 {
    padding-bottom: 0px;
    box-sizing: border-box; }
  .p-lg-1 {
    padding: 5px;
    box-sizing: border-box; }
  .ph-lg-1 {
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box; }
  .pw-lg-1 {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box; }
  .pl-lg-1 {
    padding-left: 5px;
    box-sizing: border-box; }
  .pr-lg-1 {
    padding-right: 5px;
    box-sizing: border-box; }
  .pt-lg-1 {
    padding-top: 5px;
    box-sizing: border-box; }
  .pb-lg-1 {
    padding-bottom: 5px;
    box-sizing: border-box; }
  .p-lg-2 {
    padding: 10px;
    box-sizing: border-box; }
  .ph-lg-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box; }
  .pw-lg-2 {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .pl-lg-2 {
    padding-left: 10px;
    box-sizing: border-box; }
  .pr-lg-2 {
    padding-right: 10px;
    box-sizing: border-box; }
  .pt-lg-2 {
    padding-top: 10px;
    box-sizing: border-box; }
  .pb-lg-2 {
    padding-bottom: 10px;
    box-sizing: border-box; }
  .p-lg-3 {
    padding: 15px;
    box-sizing: border-box; }
  .ph-lg-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box; }
  .pw-lg-3 {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .pl-lg-3 {
    padding-left: 15px;
    box-sizing: border-box; }
  .pr-lg-3 {
    padding-right: 15px;
    box-sizing: border-box; }
  .pt-lg-3 {
    padding-top: 15px;
    box-sizing: border-box; }
  .pb-lg-3 {
    padding-bottom: 15px;
    box-sizing: border-box; }
  .p-lg-4 {
    padding: 20px;
    box-sizing: border-box; }
  .ph-lg-4 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box; }
  .pw-lg-4 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
  .pl-lg-4 {
    padding-left: 20px;
    box-sizing: border-box; }
  .pr-lg-4 {
    padding-right: 20px;
    box-sizing: border-box; }
  .pt-lg-4 {
    padding-top: 20px;
    box-sizing: border-box; }
  .pb-lg-4 {
    padding-bottom: 20px;
    box-sizing: border-box; }
  .p-lg-5 {
    padding: 25px;
    box-sizing: border-box; }
  .ph-lg-5 {
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box; }
  .pw-lg-5 {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box; }
  .pl-lg-5 {
    padding-left: 25px;
    box-sizing: border-box; }
  .pr-lg-5 {
    padding-right: 25px;
    box-sizing: border-box; }
  .pt-lg-5 {
    padding-top: 25px;
    box-sizing: border-box; }
  .pb-lg-5 {
    padding-bottom: 25px;
    box-sizing: border-box; }
  .p-lg-6 {
    padding: 30px;
    box-sizing: border-box; }
  .ph-lg-6 {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box; }
  .pw-lg-6 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; }
  .pl-lg-6 {
    padding-left: 30px;
    box-sizing: border-box; }
  .pr-lg-6 {
    padding-right: 30px;
    box-sizing: border-box; }
  .pt-lg-6 {
    padding-top: 30px;
    box-sizing: border-box; }
  .pb-lg-6 {
    padding-bottom: 30px;
    box-sizing: border-box; }
  .p-lg-7 {
    padding: 35px;
    box-sizing: border-box; }
  .ph-lg-7 {
    padding-top: 35px;
    padding-bottom: 35px;
    box-sizing: border-box; }
  .pw-lg-7 {
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box; }
  .pl-lg-7 {
    padding-left: 35px;
    box-sizing: border-box; }
  .pr-lg-7 {
    padding-right: 35px;
    box-sizing: border-box; }
  .pt-lg-7 {
    padding-top: 35px;
    box-sizing: border-box; }
  .pb-lg-7 {
    padding-bottom: 35px;
    box-sizing: border-box; }
  .p-lg-8 {
    padding: 40px;
    box-sizing: border-box; }
  .ph-lg-8 {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box; }
  .pw-lg-8 {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .pl-lg-8 {
    padding-left: 40px;
    box-sizing: border-box; }
  .pr-lg-8 {
    padding-right: 40px;
    box-sizing: border-box; }
  .pt-lg-8 {
    padding-top: 40px;
    box-sizing: border-box; }
  .pb-lg-8 {
    padding-bottom: 40px;
    box-sizing: border-box; }
  .p-lg-9 {
    padding: 45px;
    box-sizing: border-box; }
  .ph-lg-9 {
    padding-top: 45px;
    padding-bottom: 45px;
    box-sizing: border-box; }
  .pw-lg-9 {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box; }
  .pl-lg-9 {
    padding-left: 45px;
    box-sizing: border-box; }
  .pr-lg-9 {
    padding-right: 45px;
    box-sizing: border-box; }
  .pt-lg-9 {
    padding-top: 45px;
    box-sizing: border-box; }
  .pb-lg-9 {
    padding-bottom: 45px;
    box-sizing: border-box; }
  .p-lg-10 {
    padding: 50px;
    box-sizing: border-box; }
  .ph-lg-10 {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box; }
  .pw-lg-10 {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box; }
  .pl-lg-10 {
    padding-left: 50px;
    box-sizing: border-box; }
  .pr-lg-10 {
    padding-right: 50px;
    box-sizing: border-box; }
  .pt-lg-10 {
    padding-top: 50px;
    box-sizing: border-box; }
  .pb-lg-10 {
    padding-bottom: 50px;
    box-sizing: border-box; }
  .p-lg-11 {
    padding: 55px;
    box-sizing: border-box; }
  .ph-lg-11 {
    padding-top: 55px;
    padding-bottom: 55px;
    box-sizing: border-box; }
  .pw-lg-11 {
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box; }
  .pl-lg-11 {
    padding-left: 55px;
    box-sizing: border-box; }
  .pr-lg-11 {
    padding-right: 55px;
    box-sizing: border-box; }
  .pt-lg-11 {
    padding-top: 55px;
    box-sizing: border-box; }
  .pb-lg-11 {
    padding-bottom: 55px;
    box-sizing: border-box; }
  .p-lg-12 {
    padding: 60px;
    box-sizing: border-box; }
  .ph-lg-12 {
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box; }
  .pw-lg-12 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box; }
  .pl-lg-12 {
    padding-left: 60px;
    box-sizing: border-box; }
  .pr-lg-12 {
    padding-right: 60px;
    box-sizing: border-box; }
  .pt-lg-12 {
    padding-top: 60px;
    box-sizing: border-box; }
  .pb-lg-12 {
    padding-bottom: 60px;
    box-sizing: border-box; }
  .p-lg-13 {
    padding: 65px;
    box-sizing: border-box; }
  .ph-lg-13 {
    padding-top: 65px;
    padding-bottom: 65px;
    box-sizing: border-box; }
  .pw-lg-13 {
    padding-left: 65px;
    padding-right: 65px;
    box-sizing: border-box; }
  .pl-lg-13 {
    padding-left: 65px;
    box-sizing: border-box; }
  .pr-lg-13 {
    padding-right: 65px;
    box-sizing: border-box; }
  .pt-lg-13 {
    padding-top: 65px;
    box-sizing: border-box; }
  .pb-lg-13 {
    padding-bottom: 65px;
    box-sizing: border-box; }
  .p-lg-14 {
    padding: 70px;
    box-sizing: border-box; }
  .ph-lg-14 {
    padding-top: 70px;
    padding-bottom: 70px;
    box-sizing: border-box; }
  .pw-lg-14 {
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box; }
  .pl-lg-14 {
    padding-left: 70px;
    box-sizing: border-box; }
  .pr-lg-14 {
    padding-right: 70px;
    box-sizing: border-box; }
  .pt-lg-14 {
    padding-top: 70px;
    box-sizing: border-box; }
  .pb-lg-14 {
    padding-bottom: 70px;
    box-sizing: border-box; }
  .p-lg-15 {
    padding: 75px;
    box-sizing: border-box; }
  .ph-lg-15 {
    padding-top: 75px;
    padding-bottom: 75px;
    box-sizing: border-box; }
  .pw-lg-15 {
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box; }
  .pl-lg-15 {
    padding-left: 75px;
    box-sizing: border-box; }
  .pr-lg-15 {
    padding-right: 75px;
    box-sizing: border-box; }
  .pt-lg-15 {
    padding-top: 75px;
    box-sizing: border-box; }
  .pb-lg-15 {
    padding-bottom: 75px;
    box-sizing: border-box; }
  .p-lg-16 {
    padding: 80px;
    box-sizing: border-box; }
  .ph-lg-16 {
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box; }
  .pw-lg-16 {
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box; }
  .pl-lg-16 {
    padding-left: 80px;
    box-sizing: border-box; }
  .pr-lg-16 {
    padding-right: 80px;
    box-sizing: border-box; }
  .pt-lg-16 {
    padding-top: 80px;
    box-sizing: border-box; }
  .pb-lg-16 {
    padding-bottom: 80px;
    box-sizing: border-box; }
  .p-lg-17 {
    padding: 85px;
    box-sizing: border-box; }
  .ph-lg-17 {
    padding-top: 85px;
    padding-bottom: 85px;
    box-sizing: border-box; }
  .pw-lg-17 {
    padding-left: 85px;
    padding-right: 85px;
    box-sizing: border-box; }
  .pl-lg-17 {
    padding-left: 85px;
    box-sizing: border-box; }
  .pr-lg-17 {
    padding-right: 85px;
    box-sizing: border-box; }
  .pt-lg-17 {
    padding-top: 85px;
    box-sizing: border-box; }
  .pb-lg-17 {
    padding-bottom: 85px;
    box-sizing: border-box; }
  .p-lg-18 {
    padding: 90px;
    box-sizing: border-box; }
  .ph-lg-18 {
    padding-top: 90px;
    padding-bottom: 90px;
    box-sizing: border-box; }
  .pw-lg-18 {
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box; }
  .pl-lg-18 {
    padding-left: 90px;
    box-sizing: border-box; }
  .pr-lg-18 {
    padding-right: 90px;
    box-sizing: border-box; }
  .pt-lg-18 {
    padding-top: 90px;
    box-sizing: border-box; }
  .pb-lg-18 {
    padding-bottom: 90px;
    box-sizing: border-box; }
  .p-lg-19 {
    padding: 95px;
    box-sizing: border-box; }
  .ph-lg-19 {
    padding-top: 95px;
    padding-bottom: 95px;
    box-sizing: border-box; }
  .pw-lg-19 {
    padding-left: 95px;
    padding-right: 95px;
    box-sizing: border-box; }
  .pl-lg-19 {
    padding-left: 95px;
    box-sizing: border-box; }
  .pr-lg-19 {
    padding-right: 95px;
    box-sizing: border-box; }
  .pt-lg-19 {
    padding-top: 95px;
    box-sizing: border-box; }
  .pb-lg-19 {
    padding-bottom: 95px;
    box-sizing: border-box; }
  .p-lg-20 {
    padding: 100px;
    box-sizing: border-box; }
  .ph-lg-20 {
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box; }
  .pw-lg-20 {
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box; }
  .pl-lg-20 {
    padding-left: 100px;
    box-sizing: border-box; }
  .pr-lg-20 {
    padding-right: 100px;
    box-sizing: border-box; }
  .pt-lg-20 {
    padding-top: 100px;
    box-sizing: border-box; }
  .pb-lg-20 {
    padding-bottom: 100px;
    box-sizing: border-box; } }

@media (max-width: 768px) {
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-0 {
    flex-basis: 0%;
    max-width: 0%; }
  .p-md-0 {
    padding: 0px;
    box-sizing: border-box; }
  .ph-md-0 {
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box; }
  .pw-md-0 {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box; }
  .pl-md-0 {
    padding-left: 0px;
    box-sizing: border-box; }
  .pr-md-0 {
    padding-right: 0px;
    box-sizing: border-box; }
  .pt-md-0 {
    padding-top: 0px;
    box-sizing: border-box; }
  .pb-md-0 {
    padding-bottom: 0px;
    box-sizing: border-box; }
  .p-md-1 {
    padding: 5px;
    box-sizing: border-box; }
  .ph-md-1 {
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box; }
  .pw-md-1 {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box; }
  .pl-md-1 {
    padding-left: 5px;
    box-sizing: border-box; }
  .pr-md-1 {
    padding-right: 5px;
    box-sizing: border-box; }
  .pt-md-1 {
    padding-top: 5px;
    box-sizing: border-box; }
  .pb-md-1 {
    padding-bottom: 5px;
    box-sizing: border-box; }
  .p-md-2 {
    padding: 10px;
    box-sizing: border-box; }
  .ph-md-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box; }
  .pw-md-2 {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .pl-md-2 {
    padding-left: 10px;
    box-sizing: border-box; }
  .pr-md-2 {
    padding-right: 10px;
    box-sizing: border-box; }
  .pt-md-2 {
    padding-top: 10px;
    box-sizing: border-box; }
  .pb-md-2 {
    padding-bottom: 10px;
    box-sizing: border-box; }
  .p-md-3 {
    padding: 15px;
    box-sizing: border-box; }
  .ph-md-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box; }
  .pw-md-3 {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
  .pl-md-3 {
    padding-left: 15px;
    box-sizing: border-box; }
  .pr-md-3 {
    padding-right: 15px;
    box-sizing: border-box; }
  .pt-md-3 {
    padding-top: 15px;
    box-sizing: border-box; }
  .pb-md-3 {
    padding-bottom: 15px;
    box-sizing: border-box; }
  .p-md-4 {
    padding: 20px;
    box-sizing: border-box; }
  .ph-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box; }
  .pw-md-4 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
  .pl-md-4 {
    padding-left: 20px;
    box-sizing: border-box; }
  .pr-md-4 {
    padding-right: 20px;
    box-sizing: border-box; }
  .pt-md-4 {
    padding-top: 20px;
    box-sizing: border-box; }
  .pb-md-4 {
    padding-bottom: 20px;
    box-sizing: border-box; }
  .p-md-5 {
    padding: 25px;
    box-sizing: border-box; }
  .ph-md-5 {
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box; }
  .pw-md-5 {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box; }
  .pl-md-5 {
    padding-left: 25px;
    box-sizing: border-box; }
  .pr-md-5 {
    padding-right: 25px;
    box-sizing: border-box; }
  .pt-md-5 {
    padding-top: 25px;
    box-sizing: border-box; }
  .pb-md-5 {
    padding-bottom: 25px;
    box-sizing: border-box; }
  .p-md-6 {
    padding: 30px;
    box-sizing: border-box; }
  .ph-md-6 {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box; }
  .pw-md-6 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; }
  .pl-md-6 {
    padding-left: 30px;
    box-sizing: border-box; }
  .pr-md-6 {
    padding-right: 30px;
    box-sizing: border-box; }
  .pt-md-6 {
    padding-top: 30px;
    box-sizing: border-box; }
  .pb-md-6 {
    padding-bottom: 30px;
    box-sizing: border-box; }
  .p-md-7 {
    padding: 35px;
    box-sizing: border-box; }
  .ph-md-7 {
    padding-top: 35px;
    padding-bottom: 35px;
    box-sizing: border-box; }
  .pw-md-7 {
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box; }
  .pl-md-7 {
    padding-left: 35px;
    box-sizing: border-box; }
  .pr-md-7 {
    padding-right: 35px;
    box-sizing: border-box; }
  .pt-md-7 {
    padding-top: 35px;
    box-sizing: border-box; }
  .pb-md-7 {
    padding-bottom: 35px;
    box-sizing: border-box; }
  .p-md-8 {
    padding: 40px;
    box-sizing: border-box; }
  .ph-md-8 {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box; }
  .pw-md-8 {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .pl-md-8 {
    padding-left: 40px;
    box-sizing: border-box; }
  .pr-md-8 {
    padding-right: 40px;
    box-sizing: border-box; }
  .pt-md-8 {
    padding-top: 40px;
    box-sizing: border-box; }
  .pb-md-8 {
    padding-bottom: 40px;
    box-sizing: border-box; }
  .p-md-9 {
    padding: 45px;
    box-sizing: border-box; }
  .ph-md-9 {
    padding-top: 45px;
    padding-bottom: 45px;
    box-sizing: border-box; }
  .pw-md-9 {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box; }
  .pl-md-9 {
    padding-left: 45px;
    box-sizing: border-box; }
  .pr-md-9 {
    padding-right: 45px;
    box-sizing: border-box; }
  .pt-md-9 {
    padding-top: 45px;
    box-sizing: border-box; }
  .pb-md-9 {
    padding-bottom: 45px;
    box-sizing: border-box; }
  .p-md-10 {
    padding: 50px;
    box-sizing: border-box; }
  .ph-md-10 {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box; }
  .pw-md-10 {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box; }
  .pl-md-10 {
    padding-left: 50px;
    box-sizing: border-box; }
  .pr-md-10 {
    padding-right: 50px;
    box-sizing: border-box; }
  .pt-md-10 {
    padding-top: 50px;
    box-sizing: border-box; }
  .pb-md-10 {
    padding-bottom: 50px;
    box-sizing: border-box; }
  .p-md-11 {
    padding: 55px;
    box-sizing: border-box; }
  .ph-md-11 {
    padding-top: 55px;
    padding-bottom: 55px;
    box-sizing: border-box; }
  .pw-md-11 {
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box; }
  .pl-md-11 {
    padding-left: 55px;
    box-sizing: border-box; }
  .pr-md-11 {
    padding-right: 55px;
    box-sizing: border-box; }
  .pt-md-11 {
    padding-top: 55px;
    box-sizing: border-box; }
  .pb-md-11 {
    padding-bottom: 55px;
    box-sizing: border-box; }
  .p-md-12 {
    padding: 60px;
    box-sizing: border-box; }
  .ph-md-12 {
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box; }
  .pw-md-12 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box; }
  .pl-md-12 {
    padding-left: 60px;
    box-sizing: border-box; }
  .pr-md-12 {
    padding-right: 60px;
    box-sizing: border-box; }
  .pt-md-12 {
    padding-top: 60px;
    box-sizing: border-box; }
  .pb-md-12 {
    padding-bottom: 60px;
    box-sizing: border-box; }
  .p-md-13 {
    padding: 65px;
    box-sizing: border-box; }
  .ph-md-13 {
    padding-top: 65px;
    padding-bottom: 65px;
    box-sizing: border-box; }
  .pw-md-13 {
    padding-left: 65px;
    padding-right: 65px;
    box-sizing: border-box; }
  .pl-md-13 {
    padding-left: 65px;
    box-sizing: border-box; }
  .pr-md-13 {
    padding-right: 65px;
    box-sizing: border-box; }
  .pt-md-13 {
    padding-top: 65px;
    box-sizing: border-box; }
  .pb-md-13 {
    padding-bottom: 65px;
    box-sizing: border-box; }
  .p-md-14 {
    padding: 70px;
    box-sizing: border-box; }
  .ph-md-14 {
    padding-top: 70px;
    padding-bottom: 70px;
    box-sizing: border-box; }
  .pw-md-14 {
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box; }
  .pl-md-14 {
    padding-left: 70px;
    box-sizing: border-box; }
  .pr-md-14 {
    padding-right: 70px;
    box-sizing: border-box; }
  .pt-md-14 {
    padding-top: 70px;
    box-sizing: border-box; }
  .pb-md-14 {
    padding-bottom: 70px;
    box-sizing: border-box; }
  .p-md-15 {
    padding: 75px;
    box-sizing: border-box; }
  .ph-md-15 {
    padding-top: 75px;
    padding-bottom: 75px;
    box-sizing: border-box; }
  .pw-md-15 {
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box; }
  .pl-md-15 {
    padding-left: 75px;
    box-sizing: border-box; }
  .pr-md-15 {
    padding-right: 75px;
    box-sizing: border-box; }
  .pt-md-15 {
    padding-top: 75px;
    box-sizing: border-box; }
  .pb-md-15 {
    padding-bottom: 75px;
    box-sizing: border-box; }
  .p-md-16 {
    padding: 80px;
    box-sizing: border-box; }
  .ph-md-16 {
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box; }
  .pw-md-16 {
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box; }
  .pl-md-16 {
    padding-left: 80px;
    box-sizing: border-box; }
  .pr-md-16 {
    padding-right: 80px;
    box-sizing: border-box; }
  .pt-md-16 {
    padding-top: 80px;
    box-sizing: border-box; }
  .pb-md-16 {
    padding-bottom: 80px;
    box-sizing: border-box; }
  .p-md-17 {
    padding: 85px;
    box-sizing: border-box; }
  .ph-md-17 {
    padding-top: 85px;
    padding-bottom: 85px;
    box-sizing: border-box; }
  .pw-md-17 {
    padding-left: 85px;
    padding-right: 85px;
    box-sizing: border-box; }
  .pl-md-17 {
    padding-left: 85px;
    box-sizing: border-box; }
  .pr-md-17 {
    padding-right: 85px;
    box-sizing: border-box; }
  .pt-md-17 {
    padding-top: 85px;
    box-sizing: border-box; }
  .pb-md-17 {
    padding-bottom: 85px;
    box-sizing: border-box; }
  .p-md-18 {
    padding: 90px;
    box-sizing: border-box; }
  .ph-md-18 {
    padding-top: 90px;
    padding-bottom: 90px;
    box-sizing: border-box; }
  .pw-md-18 {
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box; }
  .pl-md-18 {
    padding-left: 90px;
    box-sizing: border-box; }
  .pr-md-18 {
    padding-right: 90px;
    box-sizing: border-box; }
  .pt-md-18 {
    padding-top: 90px;
    box-sizing: border-box; }
  .pb-md-18 {
    padding-bottom: 90px;
    box-sizing: border-box; }
  .p-md-19 {
    padding: 95px;
    box-sizing: border-box; }
  .ph-md-19 {
    padding-top: 95px;
    padding-bottom: 95px;
    box-sizing: border-box; }
  .pw-md-19 {
    padding-left: 95px;
    padding-right: 95px;
    box-sizing: border-box; }
  .pl-md-19 {
    padding-left: 95px;
    box-sizing: border-box; }
  .pr-md-19 {
    padding-right: 95px;
    box-sizing: border-box; }
  .pt-md-19 {
    padding-top: 95px;
    box-sizing: border-box; }
  .pb-md-19 {
    padding-bottom: 95px;
    box-sizing: border-box; }
  .p-md-20 {
    padding: 100px;
    box-sizing: border-box; }
  .ph-md-20 {
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box; }
  .pw-md-20 {
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box; }
  .pl-md-20 {
    padding-left: 100px;
    box-sizing: border-box; }
  .pr-md-20 {
    padding-right: 100px;
    box-sizing: border-box; }
  .pt-md-20 {
    padding-top: 100px;
    box-sizing: border-box; }
  .pb-md-20 {
    padding-bottom: 100px;
    box-sizing: border-box; } }
