@charset "UTF-8";
/* шрифты */
@font-face {
  font-family: 'favoritc';
  src: url("fonts/favoritc-webfont.woff2") format("woff2"), url("fonts/favoritc-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'favoritc';
  src: url("fonts/favoritc-bold-webfont.woff2") format("woff2"), url("fonts/favoritc-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'favoritc';
  src: url("fonts/favoritc-bolditalic-webfont.woff2") format("woff2"), url("fonts/favoritc-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: 'favoritc';
  src: url("fonts/favoritc-italic-webfont.woff2") format("woff2"), url("fonts/favoritc-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-weight: 400; }

.content-size {
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto; }

.cont {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

/* стандартные элементы для всего документа */
body {
  font-size: 16px;
  font-family: 'favoritc';
  color: #022A4C;
  line-height: 24px; }

a {
  text-decoration: none;
  cursor: pointer; }

b {
  font-weight: bold; }

p {
  margin-bottom: 15px;
  line-height: 25px; }

span {
  line-height: 25px; }

.h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 30px; }

.h2 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.4em; }

.h3 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 23px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccd4db; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccd4db; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccd4db; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccd4db; }

.linkPage {
  color: #24beb1;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; }
  .linkPage:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url(images/content/more_arrow.svg) no-repeat center;
    vertical-align: -2px;
    margin-left: 10px; }
  .linkPage:hover:before {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    left: 0;
    background: #24beb1; }

/*базовая кнопка*/
.button {
  cursor: pointer;
  border-radius: 50px;
  background: #24beb1;
  font-family: 'favoritc';
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 1.125em;
  font-weight: bold;
  padding: 10px 46px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease; }
  .button:hover {
    background: #00DBAE; }

button:disabled {
  background: #c8c8c8; }

/* стили для полей */
.input {
  border: 1px solid #ccd4db;
  outline: 0;
  padding: 12px 12px 12px 35px;
  box-sizing: border-box;
  font-size: inherit;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  transition-property: border , padding;
  transition-duration: 0.4s , 0.3s;
  transition-timing-function: ease;
  font-family: 'favoritc'; }
  .input:focus {
    border: 1px solid #24beb1;
    padding: 12px 12px 12px 45px; }
  .input__name {
    background: url(images/input/user.svg) no-repeat 10px center #fff; }
  .input__phone {
    background: url(images/input/phone.svg) no-repeat 10px center #fff; }
  .input__textatea {
    background: url(images/input/question.svg) no-repeat 10px 10px #fff;
    resize: none; }

.display-1 {
  /*height: 100vh;*/
  /*background-color: $colorBlue;*/ }

.no-text {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

/* шапка */
.head {
  max-width: 1320px;
  margin: 0 auto;
  background-color: #fff;
  color: #fff;
  /* блок с информацией */ }
  .head .headerAbsolule {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden; }
    .head .headerAbsolule__content {
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1920px;
      display: flex;
      justify-content: space-between;
      /*height: 1px;*/ }
    .head .headerAbsolule__left {
      /*background: #f00;*/
      background: url(images/head/header_left.svg) no-repeat top #fff;
      background-size: cover;
      width: 300px;
      height: 100%;
      height: 160px; }
    .head .headerAbsolule__center {
      width: 1320px;
      height: 0; }
    .head .headerAbsolule__right {
      background: url(images/head/header_right.svg) no-repeat top #fff;
      background-size: cover;
      width: 300px;
      height: 100%;
      margin-top: -5px;
      height: 160px; }
  .head__infoHead {
    display: flex;
    flex-wrap: wrap;
    background: #022A4C;
    justify-content: space-between;
    padding-top: 15px;
    position: relative;
    z-index: 1; }
    .head__infoHead:after {
      content: '';
      font-size: 0;
      width: 100%;
      height: 65px;
      background: url(images/head/header.svg) no-repeat top #fff;
      background-size: cover;
      margin-top: 2px; }

.infoHead {
  /* стилизация текста в блоках */ }
  .infoHead__button {
    margin: 5px 0; }
  .infoHead__item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    box-sizing: content-box; }
  .infoHead__item1, .infoHead__item2, .infoHead__item3, .infoHead__item4, .infoHead__item6, .infoHead__item5 {
    flex-grow: 1; }
  .infoHead__item5 {
    /*flex-grow: 1;*/
    flex-basis: 50px; }
  .infoHead__logo {
    background: url(images/head/logo.svg) no-repeat center;
    background-size: contain;
    width: 160px;
    height: 50px; }
  .infoHead__svg {
    width: 18px;
    height: 18px;
    margin-right: 8px; }
  .infoHead__svg2 {
    background: url(images/head/maps.svg) no-repeat center;
    background-size: contain; }
  .infoHead__svg3 {
    background: url(images/head/phone.svg) no-repeat center;
    background-size: contain; }
  .infoHead__svg4 {
    background: url(images/head/times.svg) no-repeat center;
    background-size: contain; }
  .infoHead__svg5 {
    width: 28px;
    background: url(images/head/eye.svg) no-repeat center;
    background-size: contain; }
  .infoHead__text {
    display: flex;
    flex-direction: column; }
  .infoHead .infoText {
    font-size: 0.87em; }
    .infoHead .infoText__text1 {
      line-height: 20px; }
    .infoHead .infoText__text2 {
      cursor: pointer;
      display: inline-block;
      color: #7d8287;
      border-bottom: solid 1px #7d8287;
      line-height: 20px; }
    .infoHead .infoText__text3 {
      color: #fff;
      font-size: 1.125em; }

/*верхнее меню*/
.menu {
  display: flex;
  margin-top: -40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2; }
  .menu:after {
    content: '';
    /*height: 3px;*/
    width: 100%;
    bottom: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 3; }
  .menu__ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 992px; }
  .menu__li {
    display: flex;
    justify-content: center; }
  .menu__item {
    color: #022A4C;
    padding: 17px 4px;
    position: relative;
    font-size: 1.125em; }
    .menu__item:after {
      content: '';
      display: block;
      position: absolute;
      width: 0%;
      height: 5px;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition-property: opacity , width;
      transition-duration: 0.5s , 0.2s;
      transition-timing-function: ease; }
    .menu__item_active:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: #24beb1;
      opacity: 1; }
    .menu__item:hover:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: #24beb1;
      opacity: 1; }
  .menu .contactMobile {
    opacity: 0;
    overflow: hidden;
    height: 0; }

@media screen and (min-width: 768px) {
  .menu-scroll {
    transition-property: background , margin;
    transition-duration: 0.2s , 0.5s;
    transition-timing-function: ease;
    background: rgba(2, 42, 76, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*max-width: 1320px;*/
    left: 0;
    justify-content: space-around; }
    .menu-scroll .menu-mobile__block {
      opacity: 1;
      overflow: inherit;
      height: auto;
      flex-grow: 1;
      padding: 0 10px;
      display: flex;
      justify-content: center; }
    .menu-scroll .menu-mobile__logo {
      background: url(images/head/logo.svg) no-repeat center;
      background-size: contain;
      width: 130px;
      height: 60px;
      margin-right: 10px; }
    .menu-scroll .menu__ul {
      width: auto;
      flex-grow: 5; }
    .menu-scroll .menu__item {
      color: #fff;
      padding: 25px 4px; }
    .menu-scroll .contactMobile {
      opacity: 1;
      overflow: inherit;
      height: auto;
      padding: 10px;
      flex-grow: 1;
      display: flex;
      justify-content: center; }
      .menu-scroll .contactMobile .contactMobile__phone {
        display: none; } }

@media screen and (max-width: 768px) {
  .infoHead {
    display: none; }
  .menu:after {
    display: none; }
  /* мобильное меню */
  .menu-mobile {
    position: fixed;
    z-index: 10;
    background: #fff;
    margin-top: 0;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    /* кнопка открыть и закрыть */ }
    .menu-mobile__block {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background-color: rgba(2, 42, 76, 0.9);
      height: 65px;
      display: flex;
      align-items: center; }
    .menu-mobile__logo {
      height: 70%;
      width: 30%;
      margin-left: 10px;
      background: url(images/head/logo.svg) no-repeat center;
      background-size: contain; }
    .menu-mobile__buttonClick {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      cursor: pointer;
      z-index: 10; }
      .menu-mobile__buttonClick .buttonMenu {
        position: relative;
        width: 30px;
        height: 23px;
        display: flex;
        align-items: center;
        display: flex; }
        .menu-mobile__buttonClick .buttonMenu__line {
          width: 100%;
          height: 3px;
          background: #fff;
          transition: transform ease-out 0.2s; }
        .menu-mobile__buttonClick .buttonMenu:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: #fff;
          transition: transform ease-out 0.2s; }
        .menu-mobile__buttonClick .buttonMenu:after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: #fff;
          transition: transform ease-out 0.2s; }
    .menu-mobile__ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      opacity: 0;
      overflow: hidden;
      height: 0;
      flex-wrap: nowrap; }
    .menu-mobile__li {
      justify-content: flex-start; }
    .menu-mobile .menu__item_active {
      color: #24beb1; }
      .menu-mobile .menu__item_active:after {
        content: '';
        display: none; }
    .menu-mobile__item {
      display: block;
      width: 100%;
      margin: 0 90px 0 30px;
      padding: 5px; }
      .menu-mobile__item:hover {
        color: #24beb1; }
        .menu-mobile__item:hover:after {
          content: '';
          display: none; }
    .menu-mobile__contactMobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      border-top: 1px solid #E0E0E0;
      box-sizing: border-box;
      align-items: center; }
    .menu-mobile .contactMobile__phone {
      /*background: #000;*/
      color: #000;
      font-weight: bold;
      /*padding-top: 20px;*/
      flex-grow: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px; }
      .menu-mobile .contactMobile__phone:before {
        content: '';
        display: inline-block;
        background: url(images/head/phone.svg) no-repeat center;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin-right: 10px; }
    .menu-mobile .contactMobile__button {
      flex-grow: 1;
      text-align: center;
      padding: 15px; }
    .menu-mobile_active {
      overflow: auto;
      height: 100%;
      /*background: #000;*/ }
      .menu-mobile_active .menu-mobile__block {
        display: none; }
      .menu-mobile_active .buttonMenu__line {
        transform: rotate(45deg);
        background: #000; }
      .menu-mobile_active .buttonMenu:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: center;
        background: #000; }
      .menu-mobile_active .buttonMenu:after {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        transform-origin: center;
        background: #000; }
      .menu-mobile_active .contactMobile {
        opacity: 1;
        overflow: initial;
        height: auto;
        padding: 10px 20px 10px; }
      .menu-mobile_active .menu-mobile__ul {
        opacity: 1;
        overflow: initial;
        /*height: auto;*/
        height: 100%; } }

@keyframes pulsDown {
  0% {
    transform: translateX(-50%) translateY(0); }
  50% {
    transform: translateX(-50%) translateY(7px); }
  100% {
    transform: translateX(-50%) translateY(0); } }

/*высота слайдера*/
/*слайдер*/
.slider {
  position: relative;
  /*height: $heightSlider;*/
  height: 700px;
  max-height: 700px;
  font-size: 0;
  overflow: hidden;
  /*растояние стрелок в слайдере от краев*/ }
  .slider .owl-carousel, .slider .owl-carousel .owl-stage-outer, .slider .owl-carousel .owl-stage, .slider .owl-carousel.owl-drag .owl-item, .slider .item {
    height: 100%; }
  .slider .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 50px;
    height: 20px;
    transform: translateX(-50%);
    display: flex; }
    .slider .owl-dots .owl-dot {
      background-color: rgba(0, 0, 0, 0.27);
      width: 13px;
      height: 13px;
      border-radius: 100%;
      margin: 5px; }
    .slider .owl-dots .active {
      background-color: rgba(255, 255, 255, 0.8); }
  .slider__bottom {
    position: absolute;
    left: 50%;
    bottom: 15px;
    width: 30px;
    height: 20px;
    background: url("images/content_index/banerbottom.svg") no-repeat center;
    z-index: 2;
    transform: translateX(-50%);
    padding: 5px;
    cursor: pointer;
    animation: pulsDown 2s infinite; }
  .slider__left, .slider__right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    bottom: 15px;
    width: 48px;
    height: 48px;
    z-index: 2;
    transform: translateY(-50%); }
    .slider__left .arrowSlider, .slider__right .arrowSlider {
      fill: rgba(2, 42, 76, 0.51); }
    .slider__left:active .arrowSlider, .slider__right:active .arrowSlider {
      fill: #24beb1; }
  .slider__left {
    right: 20px;
    transform: translateY(-50%); }
  .slider__right {
    transform: translateY(-50%) rotate(180deg);
    left: 20px; }
  .slider__item {
    font-size: 16px;
    height: 100%; }
  .slider .sliderItem {
    position: relative;
    height: 100%; }
    .slider .sliderItem__img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .slider .sliderItem__left {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      padding: 10px;
      height: 100%;
      box-sizing: border-box; }
    .slider .sliderItem__right {
      display: flex;
      background: rgba(0, 38, 70, 0.37);
      flex-grow: 1;
      flex-basis: 400px;
      z-index: 2;
      padding: 10px;
      box-sizing: border-box; }
    .slider .sliderItem__textBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 490px;
      align-items: flex-start; }
    .slider .sliderItem__textHead {
      line-height: 1.3em;
      font-size: 2.6em; }
    .slider .sliderItem__textbContent {
      margin: 34px 0;
      font-size: 1.5em; }
    .slider .sliderItem__img2 {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*услуги*/
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #022A4C; }
  .services__item {
    flex-grow: 1;
    flex-basis: 130px; }
  .services .servicesItem {
    background: #022A4C;
    text-align: center;
    /*padding: 33px 10px 20px 10px;*/
    padding: 20px 10px 20px 10px;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .services .servicesItem:hover {
      background: #24beb1; }
    .services .servicesItem__svg {
      height: 110px;
      width: 90px;
      object-fit: contain;
      margin: 5px auto 15px auto; }
    .services .servicesItem__text {
      color: #fff;
      margin: auto;
      text-align: center;
      /*font-size: */
      line-height: 1.3em;
      font-weight: bold; }
  .services .servicesItem7 .svg {
    width: 50px; }

.aboutCenter {
  /*padding: 60px 0 0 0;*/ }
  .aboutCenter__left, .aboutCenter__right {
    display: flex;
    flex-direction: column;
    /*padding: 0 38px;*/
    box-sizing: border-box; }
  .aboutCenter__left {
    background: url(images/content_index/abouttooth.svg) no-repeat 95% center; }
  .aboutCenter__head {
    padding: 10px 0;
    margin-bottom: 34px; }
  .aboutCenter__text {
    /*max-width: 600px;*/ }
  .aboutCenter .aboutSlider__itemBlock {
    display: flex;
    flex-wrap: wrap; }
  .aboutCenter .aboutSlider .content__item {
    display: none; }
  .aboutCenter .aboutSlider .content__item_active {
    display: block; }
  .aboutCenter .aboutSlider__item {
    cursor: pointer;
    padding: 10px 20px 10px 0;
    font-size: 1.5em;
    font-weight: bold; }
    .aboutCenter .aboutSlider__item:after {
      content: '';
      display: block;
      margin-top: 10px;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.4s;
      transition-timing-function: ease; }
    .aboutCenter .aboutSlider__item_active:after {
      content: '';
      display: block;
      border-bottom: 5px solid #24beb1;
      margin-top: 10px;
      opacity: 1; }
  .aboutCenter .aboutSlider__img {
    object-fit: cover;
    width: 100%;
    margin-top: 20px;
    height: 24vw;
    min-height: 300px; }
  .aboutCenter .aboutSlider__txt {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 0;
    width: 100%;
    align-items: center; }
  .aboutCenter .aboutSlider__text1 {
    margin-bottom: 8px; }
  .aboutCenter .aboutSlider__link {
    margin: 10px 0; }

.news {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f9f9f9; }
  .news__block {
    /*padding: 0 20px;*/
    display: flex;
    flex-wrap: wrap; }
  .news__arrow {
    position: absolute;
    top: 0;
    right: 0;
    margin: -6px 10px 0 10px; }
  .news:before {
    content: '';
    font-size: 0;
    width: 100%;
    height: 62px;
    background: url(images/content/wave.svg) no-repeat top;
    background-size: cover;
    /*transform: rotateX(-180deg);*/
    transform: scale(-1, -1);
    margin-bottom: 30px; }
  .news__head {
    flex-basis: 100%;
    margin-bottom: 60px; }
  .news__item {
    display: flex;
    flex-direction: column;
    outline: 1px solid #ccc;
    outline-offset: -1px;
    cursor: pointer; }
  .news__item:last-child {
    margin-right: 0; }
  .news .newsItem {
    background: #fff; }
    .news .newsItem:hover .newsItem__text {
      color: #24beb1; }
    .news .newsItem__img {
      object-fit: cover;
      /*height: 280px;*/
      height: 17vw; }
    .news .newsItem__text {
      padding: 20px 20px; }
    .news .newsItem__data {
      padding: 0 20px 10px 20px; }

.arrowNewsSlider {
  display: flex; }
  .arrowNewsSlider__left {
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer; }
    .arrowNewsSlider__left .fillFon {
      transition: fill ease-out 0.1s;
      fill: #24BEB1; }
    .arrowNewsSlider__left .fillStroke {
      transition: fill ease-out 0.1s;
      stroke: #24BEB1; }
  .arrowNewsSlider__right {
    margin: 5px;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    cursor: pointer; }
    .arrowNewsSlider__right .fillFon {
      transition: fill ease-out 0.1s;
      fill: #24BEB1; }
    .arrowNewsSlider__right .fillStroke {
      transition: fill ease-out 0.1s;
      stroke: #24BEB1; }
  .arrowNewsSlider .disabled .fillFon {
    fill: #ccc; }
  .arrowNewsSlider .disabled .fillStroke {
    stroke: #ccc; }

.data {
  display: flex;
  align-items: center; }
  .data__svg {
    width: 18px;
    height: 18px;
    background: url(images/content/calendar.svg) no-repeat;
    background-size: cover;
    margin-right: 10px; }
  .data__text {
    font-size: 0.9em;
    color: #ccd4db; }

.advantages {
  display: flex;
  flex-wrap: wrap; }
  .advantages__flex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    background-color: #fff;
    justify-content: space-between; }
  .advantages__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 20px; }
  .advantages .advantagesItem__svg {
    object-fit: contain;
    height: 100px;
    margin: 20px;
    width: 100px; }
  .advantages .advantagesItem__blockText {
    max-width: 300px;
    text-align: center; }
  .advantages .advantagesItem__headtext {
    /*text-align: center;*/
    margin-bottom: 10px; }
  .advantages .advantagesItem__text {
    /*max-width: 300px;*/
    /*text-align: center;*/ }
  .advantages:before {
    content: '';
    font-size: 0;
    width: 100%;
    height: 90px;
    background: url(images/content/wave_grey.svg) no-repeat top;
    background-size: cover;
    /* transform: rotateX(-180deg); */
    transform: scale(-1, -1);
    margin-bottom: 30px; }

.advertising__left {
  flex-grow: 1;
  font-size: 0;
  background-color: #022A4C; }

.advertising__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.advertising__right {
  flex-grow: 1;
  background: url(images/content_index/advertisingwrite.svg) no-repeat 95% 90% #022A4C;
  background-size: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.advertising__rightBlock {
  line-height: 40px;
  flex-grow: 1; }

.advertising__textHead {
  color: #24beb1;
  font-size: 2.5em;
  font-weight: bold; }

.advertising__text {
  color: #fff;
  display: inline; }

.advertising__button {
  margin-top: 40px; }

.reviews {
  position: relative;
  background: #f9f9f9; }
  .reviews__arrow {
    position: absolute;
    bottom: -46px;
    right: 0;
    margin: 30px;
    /*background-color: #000;*/ }
  .reviews:after {
    content: '';
    font-size: 0;
    width: 100%;
    height: 75px;
    background: url(images/content/wave.svg) no-repeat bottom;
    background-size: cover;
    margin-top: 30px;
    transform: scale(-1, 1); }
  .reviews__info {
    /*flex-basis: 200px;*/ }
  .reviews__infoText {
    line-height: 40px;
    margin-bottom: 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; }
  .reviews .reviewsBlock {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 50px; }
    .reviews .reviewsBlock__item {
      display: flex;
      flex-wrap: wrap;
      border: 3px solid #24beb1;
      padding: 25px 25px 25px 0;
      background: #fff; }
      .reviews .reviewsBlock__item:before {
        content: '';
        width: 20%;
        background: url(images/content_index/quotes.svg) no-repeat center 10px;
        background-size: 70%; }
    .reviews .reviewsBlock__info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: flex-start; }
    .reviews .reviewsBlock__content {
      width: 80%; }
    .reviews .reviewsBlock__textHead {
      /*flex-grow: 2;*/ }
    .reviews .reviewsBlock__data {
      /*margin-right: 30px;*/ }
    .reviews .reviewsBlock__text {
      flex-basis: 100%; }

.doctors {
  position: relative;
  background-color: #fff; }
  .doctors__head {
    margin: 50px 0 30px; }
  .doctors .owl-dots {
    display: none !important;
    position: absolute;
    left: 50%;
    bottom: -6px;
    height: 20px;
    transform: translateX(-50%);
    display: flex; }
    .doctors .owl-dots .owl-dot {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.27);
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin: 2px; }
    .doctors .owl-dots .active {
      background-color: rgba(0, 113, 255, 0.58); }
  .doctors .doctorsVrach {
    position: relative; }
    .doctors .doctorsVrach__item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      -ms-align-items: center;
      align-items: center;
      flex-basis: 200px;
      padding: 30px 30px; }
      .doctors .doctorsVrach__item:hover .doctorsVrach__textHead {
        color: #24beb1; }
    .doctors .doctorsVrach__img {
      width: 220px;
      height: 220px;
      border-radius: 100%;
      margin-bottom: 25px;
      background-size: 100% !important;
      transition-property: background-size;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      background-repeat: no-repeat;
      background-position: center; }
      .doctors .doctorsVrach__img:hover {
        background-size: 110% !important; }
    .doctors .doctorsVrach__textHead:after {
      content: '';
      display: block;
      margin: 10px auto 10px auto;
      height: 1px;
      width: 50px;
      background: #000; }
    .doctors .doctorsVrach__text {
      /*line-height: 25px;*/ }
    .doctors .doctorsVrach__text, .doctors .doctorsVrach__textHead {
      text-align: center;
      max-width: 250px; }

#map {
  width: 100%;
  height: 400px;
  background-color: #234661; }

.controller {
  display: none !important; }

footer {
  text-align: center;
  color: #fff;
  background: url(images/footer/footer.png) no-repeat center bottom;
  background-size: cover;
  position: relative; }

.footer {
  display: inline-block;
  width: 81%;
  max-width: 1100px; }
  .footer .fresco {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end; }
  .footer .footerLink {
    display: inline-block;
    color: #fff;
    position: relative;
    box-sizing: content-box; }
    .footer .footerLink:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.1s;
      transition-timing-function: ease; }
    .footer .footerLink:hover:after {
      opacity: 1; }
  .footer__bottom {
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    text-transform: uppercase;
    line-height: 25px;
    color: rgba(204, 204, 204, 0.41);
    margin-bottom: 10px; }
  .footer__info {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    /*margin-bottom: 64px;*/
    padding: 72px 0 0; }
  .footer .futerInfo__logo {
    background: url(images/head/logo.svg) no-repeat top left;
    background-size: contain;
    width: 160px;
    height: 50px;
    flex-basis: 250px;
    flex-grow: 1;
    margin-bottom: 25px; }
  .footer .futerInfo__item {
    text-align: left; }
  .footer .futerInfo .footerItem {
    display: flex;
    flex-direction: column;
    padding: 0 10px 30px 10px;
    flex-basis: 224px;
    flex-grow: 1; }
    .footer .futerInfo .footerItem__minText {
      font-size: 0.87em;
      line-height: 20px; }
    .footer .futerInfo .footerItem__head {
      margin-bottom: 10px;
      display: inline-block; }
      .footer .futerInfo .footerItem__head:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #24beb1;
        margin-top: 8px; }
    .footer .futerInfo .footerItem__elem {
      /*padding: 10px 0;*/ }
  .footer .submitFuter {
    display: flex;
    flex-wrap: wrap; }
    .footer .submitFuter__left {
      flex-grow: 3;
      flex-basis: 400px; }
    .footer .submitFuter__right {
      flex-grow: 1;
      flex-basis: 260px;
      text-align: center;
      background-color: #022A4C;
      text-align: center; }
      .footer .submitFuter__right .submitContact {
        display: flex;
        flex-direction: column; }
        .footer .submitFuter__right .submitContact__head {
          margin-bottom: 30px;
          margin-top: 20px;
          margin-left: 30px;
          text-align: left; }
        .footer .submitFuter__right .submitContact__item {
          color: #fff;
          padding: 15px 0;
          line-height: 20px;
          display: flex;
          align-items: flex-start; }
        .footer .submitFuter__right .submitContact__svg {
          margin-right: 10px;
          margin-top: 2px;
          height: 18px;
          /*width: 13px;*/ }
        .footer .submitFuter__right .submitContact__text {
          display: inline-block;
          text-align: right; }
        .footer .submitFuter__right .submitContact__social {
          border-top: 1px solid #20405b;
          border-bottom: 1px solid #20405b;
          padding: 20px 0;
          display: flex;
          justify-content: space-around;
          margin: 10px 0 30px;
          width: 100%; }
          .footer .submitFuter__right .submitContact__social .social__item .logo {
            fill: rgba(139, 139, 139, 0.7);
            stroke: rgba(139, 139, 139, 0.7);
            stroke-width: 0.5;
            stroke-dasharray: 1;
            stroke-dashoffset: 0;
            transition-duration: 0.3s;
            transition-timing-function: ease; }
          .footer .submitFuter__right .submitContact__social .social__item:hover .logo {
            fill: #24beb1;
            stroke: #24beb1;
            stroke-dashoffset: 20;
            stroke-dasharray: 100;
            /*fill: #000;*/ }

/* отправить */
.submitVopros {
  background-color: #fff;
  display: flex;
  flex-direction: column; }
  .submitVopros__head {
    color: #000;
    margin-bottom: 40px;
    text-align: left;
    margin: 15px;
    line-height: 40px; }
  .submitVopros__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .submitVopros__input {
    margin: 15px;
    flex-grow: 1;
    flex-basis: 200px; }
  .submitVopros__bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .submitVopros__button {
    margin: 15px; }
  .submitVopros__txtPolitika {
    font-size: 0.8em;
    color: #ccd4db;
    cursor: pointer;
    text-align: left;
    max-width: 300px;
    margin: 15px;
    line-height: 15px; }
  .submitVopros__linkPolitika {
    color: #ccd4db; }
    .submitVopros__linkPolitika:hover {
      text-decoration: underline; }
  .submitVopros__textatea {
    margin: 15px;
    flex-grow: 1;
    box-sizing: border-box;
    height: 210px;
    width: calc(100% - 30px); }

.footer .submitFuter {
  display: none; }

.footer-form {
  margin-top: -120px; }
  .footer-form .submitFuter {
    display: flex; }

@media screen and (max-width: 1500px) {
  .services .servicesItem__svg {
    height: 72px; } }

@media screen and (max-width: 992px) {
  .slider .sliderItem__textBlock {
    font-size: 0.7em; }
  .slider .sliderItem__textbContent {
    margin: 10px 0; } }

@media screen and (max-width: 1000px) {
  .news .newsItem {
    background: #fff; }
    .news .newsItem__img {
      object-fit: cover;
      height: 30vw; } }

@media screen and (max-width: 950px) and (min-width: 768px) {
  .menu-scroll .contactMobile {
    display: none; } }

@media screen and (max-width: 768px) {
  .doctors .owl-dots {
    display: flex !important; }
  body {
    font-size: 0.9em; }
  .news .newsItem__img {
    height: 60vw; }
  .slider__left, .slider__right {
    display: none; }
  .footer {
    width: 95%; }
  .aboutCenter .aboutSlider__itemBlock {
    font-size: 0.6em; }
  .aboutCenter .aboutSlider__img {
    margin-top: 0; }
  .footer .submitFuter__right {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .footer .submitFuter__right .submitContact__head {
      width: 100%; }
    .footer .submitFuter__right .submitContact__item {
      display: flex;
      padding: 10px;
      flex-grow: 1; }
  .advantages__item {
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: wrap;*/ }
  .advantages .advantagesItem__blockText {
    text-align: left; }
  .slider .sliderItem__textBlock {
    text-align: center;
    align-items: center; } }

@media screen and (max-width: 310px) {
  .advantages__item {
    flex-wrap: wrap; }
  .advantages .advantagesItem__blockText {
    text-align: center; } }

/*..........................................................*/
